<% include ./partials/header %> 
<h1>Sign Up!</h1>

<form action="/register" method="post">
    <input size="40" type="text" name="username" placeholder="username *"><br>
    <input size="40" type="password" name="password" placeholder="password *"><br>
    <input size="40" type="text" name="email" placeholder="email (not mandatory) ">

    <button>Sign Up</button>
</form>
<% include ./partials/footer %> 
